/* iCheck plugin Polaris skin
----------------------------------- */
.icheckbox,
.iradio {
    display: inline-block;
    /*display: inline;*/
    vertical-align: middle;
    margin: 0;
    padding: 0;
    width: 29px;
    height: 29px;
    background: url('../img/polaris.png') no-repeat;
    border: none;
    cursor: pointer;
}

.icheckbox {
    background-position: 0 0;
}
    .icheckbox.hover {
        background-position: -31px 0;
    }
    .icheckbox.checked {
        background-position: -62px 0;
    }
    .icheckbox.disabled {
        background-position: -93px 0;
        cursor: default;
    }
    .icheckbox.checked.disabled {
        background-position: -124px 0;
    }

.iradio {
    background-position: -155px 0;
}
    .iradio.hover {
        background-position: -186px 0;
    }
    .iradio.checked {
        background-position: -217px 0;
    }
    .iradio.disabled {
        background-position: -248px 0;
        cursor: default;
    }
    .iradio.checked.disabled {
        background-position: -279px 0;
    }

/* HiDPI support */
@media (-o-min-device-pixel-ratio: 5/4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
    .icheckbox,
    .iradio {
        background-image: url('../img/polaris@2x.png');
        -webkit-background-size: 310px 31px;
        background-size: 310px 31px;
    }
}